<section>
    <app-session-item *ngFor="let sessionItem of sessionItems" [session]="sessionItem"
    [ngClass]="{'session-web': sessionItem.name=='Web','session-mobile':sessionItem.name=='Mobile'}"></app-session-item>
</section>