<h2>{{session.name}}</h2>
<!--<h2 [textContent]="name"></h2>-->
<div>{{session.track}}</div>
<div>Prévue le {{session.date }} pendant {{session.duree}} jours à {{session.adress}} </div>
<li *ngIf="session.participants < 20; then ok else notok"> </li>

<ng-template #ok> Encore {{20 - session.participants}} places sont disponibles!</ng-template>
<ng-template #notok>Session Complete!</ng-template>

<div>{{session.participants}} Participants</div>
<div class="tools">
    <a class="delete" (click)="onDelete()">
        Suppression
    </a>
    <a [routerLink]="['../edit', session.id]"
       routerLinkActive="active" class="inscrire">
        Modification
    </a>


</div>