<section>
  <header>
    <h1>Liste des sessions de formation </h1>
    <p class="description">Suivre les{{title}} sessions que je veux participer.</p>
  </header>

  <app-session-item-list></app-session-item-list>

</section>
<section>
  <router-outlet></router-outlet>
</section>