
<h2>{{session.name}}</h2>
<div >{{session.track}}</div>
<div>Prévue le {{session.date | date:'dd MMM YYYY'}} pendant {{session.duree}} jours à {{session.local}}</div>

<li *ngIf="session.participants <20; then ok else notok"></li>
<ng-template #ok>encore {{20-session.participants}} places sont disponibles</ng-template>
<ng-template #notok>Session complete</ng-template>
<div class="tools">
<a class="delete">
Details
</a>
<a  name="inscrire"  class="inscrire" (click)=inscrire() >
Inscription
</a>
<a class="partager">
Partager
</a>
</div>
